@model BlogMain.Models.MainPost
<div id="templatemo_right_column">
    <div id="templatemo_main">
        @foreach (var Item in Model.AllPosts.PostItems)
        {
            <div class="post_section">
                <h2>@Item.Title</h2>
                <p>@Item.Data.ToString("D")</p>
                <p>@Item.Text</p>
                <p>
                    @Html.ActionLink("Leave a comment", "FullPost", new { PostID = @Item.Id })
                </p>          
                @if (@HttpContext.Current.User.Identity.Name == "Admin")
                {
                    <form action="@Url.Action("AllPosts", "Home", new { PostID = @Item.Id })" method="post">
                        <div id="comment_form">
                            <input type="submit" name="Submit" value="Delete" class="submit_btn" />
                        </div>
                    </form>
                }
            </div>
        }
    </div>
    <div class="cleaner"></div>
</div>
